/* Colors and Fonts */

body {
	background-color: rgb(33,56,117, 0.15);
	color: #3C4049;
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	font-weight: 400;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
} 
h1 {
	color: #213875;
    font-weight: 900;
    letter-spacing: 6px;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
	color: #213875;
	font-size: 23px;
	font-weight: 500;
}

a {
	font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #423F3F;
    font-weight: 600;
    font-size: 16;
    transition: color 0.3s ease
}

a:hover {
	color: black;
}



/* Custome design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container{
		width: 600px;
	}
}

@media (max-width: 660px){
	.container{
		width: 500px;
	}
}

@media (max-width: 560px){
	.container{
		width: 400px;
	}
}

.card-lightgrey {
	background-color: #F5F5F5;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 10, 30, 0.2);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #213875;
	color: white;
	padding: 15px 20px;
	border-radius: 4px
}

.btn-blue:hover {
	background-color: #142042;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 0px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	font-size: 50px;
	color: #142042;
}

#introduction p {
	margin-bottom: 40px;
}